* {
    margin: 0 auto;
    padding: 2px;
    box-sizing: border-box;

}

.main {
    width: 90%;
    display: flex;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.main aside {
    box-sizing: border-box;
    margin: 50px;
    border: 2px solid #155d0c;
    padding: 20px;
    box-sizing: border-box; 
}

.main aside img {
    max-width: 150px;
}

.main aside p{
    margin: 0 auto;
    padding: 5px;
    border-top: 0.8px solid #ccc;
    border-bottom: 0.8px solid #ccc;
}


.main aside p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.imgs {
    display: flex;
    flex-direction: row;
}

.main ul {
    list-style-type:none ;
    margin: 0;
    padding: 5px;
    margin-top: 5px;
}

.main li {
    display: inline-block;
    margin-right: 10px;
}

.main li a {
    
    text-decoration: none;
}

.main li a:hover {
    text-decoration: underline;
}


footer {
    background: linear-gradient(to right, #0b6c0b, #1eb11e);
    padding: 20px;
    color: #fff;
    
}

#header {
    background: linear-gradient(to right, #0b6c0b, #1eb11e);
    padding: 20px;
    color: #fff;
    
}

.logo a {
    font-family: Arial, Helvetica, sans-serif;
    width: 50px;
    font-size: 40px;
    text-decoration: none;
    color: #fff;
}

.logo {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:large;
}

.barra {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.barra span {
    font-size: small;   
    margin-top: 0 auto;
    display: flex;
    justify-content:end;
}

.barra p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;   
  margin-top: 0 auto;
  display: flex;
  justify-content:end;
  color: black;
}

.buscar form {
    text-align: end;
}


.buscar input {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    flex: 1;
}

.buscar button {
    padding: 5px 10px;
    background-color: #1c3f06;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.sobre {
    display: flex;
    padding: 0px;
    background-color: #024702;
}

.sobre ul {
    list-style-type:none ;
    margin: 0;
    padding: 0;
}

.sobre li {
    display: inline-block;
    margin-right: 10px;
}

.sobre li a {
    color: #fff;
    text-decoration: none;
}

.sobre li span {
    font-size: small;
}

.sobre li a:hover {
    text-decoration: underline;
}

.sobre-curso {
    display: flex;
    margin: 0 auto;
    padding: 10px;
}

.curso {

    display: flexbox;
    justify-content: center;
    text-align: center;
    margin: 50px;
    border: 2px solid #155d0c;
    padding: 20px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif  ;
}

.curso p {
    margin: 0 auto;
    padding: 10px;
    text-overflow: ellipsis;
}


.curso h1, h2 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-top:5px solid rgb(1, 52, 6);
    color: rgb(12, 92, 3);
    background-image: url('icons/images.jpeg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    padding: 20px; 
    color: #fff;
}

.curso ul {
    list-style-type:none ;
    margin: 0;
    padding: 10px;
}

.curso li {
    display: inline-block;
    margin-right: 10px;
}

.curso li a {
    color: blue;
    text-decoration: none;

}
.curso li a:hover {
    text-decoration: underline;
}