

.container {
  font-family: Arial, Helvetica, sans-serif;
  width: 300px;
  margin: 0 auto;
  margin-top: 100px;
  background: linear-gradient(to right, #ffffff, #ffffff);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.container h3 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

.form-group p {
  margin-top: 5px;
  font-size: small;
  color: rgb(6, 6, 96);

}

.form-group legend {
  margin-top: 5px;
  text-align: end;
  font-size: small;
  color: rgb(6, 6, 96);
}

.form-group legend a {
  text-decoration: none;
  cursor: pointer;
}


.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: small;
  display: block;
  margin-bottom: 5px;
}


.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.form-group input:placeholder-shown {
  font-family: monospace;
}

.form-group button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
  background: linear-gradient(to right, #0b6c0b, #1eb11e);
  color: #fff;
  border: none;
  cursor: pointer;
}